 html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#sidebar {
    position: absolute;
    width: 300px;
    overflow: scroll;
    max-height: 100%;
}

#map-canvas {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    height: 100%;
}
